* {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.Country {
    background-color: antiquewhite;
    border: 1px solid orange;
    width: 200px;
    padding: 0;
    margin: 0;
    display: inline-block;

    &__name {
        background-color: yellow;
    }

    &__text {
        display: block;
        background: orange;
        color: white;
        padding: 6px 12px;
    }

    &__list {
        padding: 0;
        margin: 0;
        background-color: white;

        &--item {
            border-top: 1px solid orange;
            padding: 6px 10px;
        }
    }
}
